# Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/
env/

# Archivos temporales
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Configuración de IDEs
.vscode/
.idea/

# Archivos de prueba (opcional)
ejemplo.json

